.container{
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;;
    
}

.circle{
    height: 150px;
    width: 150px;
    border-radius: 75px;
    background-color: black;
    margin-bottom: 20px;
}

.inner{
    background-color: white;
    position: relative;
    width: 75px;
    height: 75px;
    left : 38px;
    top : 40px;
}

#btn-1{
    margin-bottom: 20px;
}

.triangle-bottom-left{
    background-color: transparent;
    position: relative;
    left: 38px;
    top: 40px;
    width: 0;
    height: 0;
    border-bottom: 75px solid red;
    border-right: 75px solid transparent;
}
